<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>TransCurrency</title>
</head>

<style>

     body {
     	background-color: blue;
     }
     h1 {
     	color: yellow;
     	text-align: center;
     }

</style>
<body>
	
    <h1>Welcome to TransCurrency</h1>
   
</body>
</html>
