<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>TransCurrency</title>
</head>

<style>

     body {
     	background-color: blue;
     }
     
     h1 {
     	color: yellow;
     	text-align: center;
     	font-size: 50px;
     }
     
      h2, h3 {
     	color: yellow;
     	text-align: center;
     	font-size: 25px;
     	
     }

   
   .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /*padding-left: 475px;*/
    padding-top: 50px;
    
    }
</style>
<body>
	
   <h1>Welcome to TransCurrency</h1>
    
 
    <br> <br> <br> <br> <br>
     
     	
    <div class="select-container">
    <input type="text" name="content" placeholder="Insert the amount...">
    <h2>From:</h2>
    <select name="currencies1" id="currencies1">
    <option>--</option>
    <option value="euro">Euro</option>
  	<option value="usd">US Dollar (USD)</option>
  	<option value="nk">Norwegian Krone (NK)</option>
  	<option value="gbp">British Pound (GBP)</option>
	</select>
	
	<h3>To:</h3>
	<select name="currencies2" id="currencies2">
    <option>--</option>
    <option value="euro">Euro</option>
  	<option value="usd">US Dollar (USD)</option>
  	<option value="nk">Norwegian Krone (NK)</option>
  	<option value="gbp">British Pound (GBP)</option>
	</select>
	</div>
   
</body>
</html>
