<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>TransCurrency - Old Currencies</title>
</head>

<style>

     body {
            background-image: url('');
     }

     h1 {
             color: black; 
             text-align: center;
             font-size: 50px;
     }

     

</style>
<body>

        <br><br>
   <h1>Here's the real-time value displayer!</h1>


    <br> <br> <br> <br> <br>
    
	
    
</body>
</html>